APP_NAME="Tishla by Purnika Sales"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_IN
APP_TIMEZONE=Asia/Kolkata

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tishla
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@tishla.com"
MAIL_FROM_NAME="${APP_NAME}"

TISHLA_STORE_NAME="Tishla by Purnika Sales"
TISHLA_DOMAIN="https://www.tishla.com"
TISHLA_SUPPORT_EMAIL="purnikasales@gmail.com"
TISHLA_WHATSAPP="919574716712"
TISHLA_CURRENCY=INR
TISHLA_GST_RATE=5
TISHLA_DEMO_DATA=true

TISHLA_ADMIN_EMAIL=admin@tishla.com
TISHLA_ADMIN_NAME="Shakti Develops"
TISHLA_ADMIN_PASSWORD=
