/vendor/
/.env
/.env.*
!.env.example
/node_modules/
/.idea/
/.vscode/
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/uploads/*
!/public/uploads/.gitignore
